---
import Layout from '../components/layout.astro';
---

<style>
h2 {
  text-align: center;
}
</style>
<Layout
  title="Marrow Translations"
  description="Clear, Confident Translations"
>
  <main>
    <h2>Submission received!</h2>
  </main>
</Layout>
